$code-color: #338;

@import 'bootstrap';

body {
  @media (min-width: $screen-md-min) {
    font-size: 17px;
  }
  font-family: "Lucida Grande", sans-serif;
  line-height: 1.9;
  color: #444;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


h1, h2, h3 {
  font-family: Georgia, serif;
  font-weight: bold;
}

h1 {
  margin-bottom: 1em;
  font-size: 350%;
  @media (max-width: $screen-sm-max) {
    font-size: 250%;
  }
  color: #555;
  line-height: 1.6;
  font-family: "Roboto Slab";
}

h2 {
  color: #454589;
  border-bottom: 1px solid #DDD;
  padding-bottom: 0.3em;
  margin-bottom: 0.5em;
  @media (max-width: $screen-sm-max) {
    font-size: 200%;
  }
}

h3 {
  color: #777;
  font-family: "Open Sans", sans-serif;
}

h2, h3 {
  margin-top: 1.5em;
}

li > p {
  margin: 0;
}

a:active {
  color: #E44;
}

#container {
  @include make-row;
  margin: 0;
}

$padding-top: 20px;
$content-flex: 9;
$padding-side: 7%;

article {
  @include make-md-column($content-flex);
  @include make-md-column-push(12 - $content-flex);
  padding: $padding-top $padding-side;
  @media (min-width: $screen-md-min) {
    padding-right: 20%;
  }
}

$aside-color: #334;
$aside-link-color: #CCF;

.sitemap {
  font-size: 110%;
}

aside {
  @include make-md-column(12 - $content-flex);
  @include make-md-column-pull($content-flex);
  background-color: $aside-color;
  padding: $padding-top 4%;

  a {
    color: $aside-link-color;

    &:hover {
      color: lighten($aside-link-color, 5%);
    }
  }

  @media (min-width: $screen-md-min) {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: scroll;
  }

  @media (max-width: $screen-sm-max) {
      padding-left: 12%;
      padding-right: 12%;
  }

  h1 {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;

    font-size: 110%;
    font-weight: normal;
    color: #CCC;
    line-height: 1.5;
  }

  .sitemap {
    @extend .list-unstyled;
    @media (min-width: $screen-md-min) {
      font-size: 90%;
    }
    padding-top: 0.8em;
    margin-top: 1em;
    border-top: 1px solid lighten($aside-color, 15%);

    ul {
      padding-left: 1em;
      margin-left: 0;
    }
  }

  .textbook {
    ul.links {
      @extend .list-unstyled;

      width: 80%;
      font-size: 80%;
      line-height: 1.1;

      li {
        margin-top: 1em;
      }

      a {
        text-decoration: none;
      }

      img {
        max-width: 180px;
        margin: 10px 0;
      }
    }
  }
}

dt {
    font-size: 105%;
    margin-bottom: 0.2em;
    color: #666;
}

dd {
    margin-left: 1em;
}

.mathblock {
  padding: 0.5em 0;
  margin: 1em 0;
  background-color: #F7F7F7;
}

.exampleblock {
  font-size: 95%;
  margin: 1em 0;
  border: 1px solid #DDD;
  padding: 1em;
}

.pager {
  a + a {
    margin-left: 1em;
  }
}
